@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
@keyframes movingGradient {
  0% { background-position: 0% 50%; }
  100% { background-position: 200% 50%; }
}

.text-animated-gradient {
  background: linear-gradient(90deg, #66fcf1, #ffffff, #45a29e, #66fcf1);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: movingGradient 3s linear infinite;
}